*{
    margin: 0px auto;
    padding: 0px 0px;
}
#nav-background{
    background-image: url("../img/39.jpg");
    background-repeat:no-repeat;
    background-position:center;
    /*使图片填充整个div*/
    background-size: 100% 100%;
    width: 100%;
    height: 300px;

    padding: 20px 40px 0px 30px;


}
.nav-text{
    font-family: Times;
    font-weight:bold;
    font-size:1.2em;
    text-decoration: none;
    color: #c0c0c0;
}
.nav-h{
    margin: 0px auto;
    padding-left: 200px;
}
.nav-text-1{
    color: #FFFFFF;
    font-size: 2em;
    font-weight: 400;

}
.nav-text-1-a{
    border: 1px solid #FFFFFF;
    border-radius: 999em;
    text-align: center;
    line-height: inherit;
    padding: 0px 10px;
}
.nav-text-1-a:link{
    color: #FFFFFF;
}
.nav-text-1-a:visited{
    color: #FFFFFF;
}
.nav-text-1-a:hover{
    color: #FFFFFF;
    background-color: #c0c0c0;
}
.nav-text-1-a:active{
    color: yellow;
}
.nav-text-2{
    color: #FFFFFF;
    font-size: 3em;
    font-family:  sans-serif;
    letter-spacing: 10px;
    /*word-spacing: 10px;*/
}
/*作者的修饰*/
.nav-text-3-span{
    color: #FFFFFF;
    font-size: 1.2em;
    font-family:  sans-serif;
    font-style:italic;
    /*letter-spacing: 10px;*/
    /*word-spacing: 10px;*/

}


/*文章页面内容部分css*/
.document-body-left{
    background-color: #FFFFFF;

    padding: 20px;

    margin-top: 20px;

}

/*文章页面内容部分字体css*/
.document-body-left-p{
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}